*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: crimson;
}

.card {
    width: 700px;
    background: #ccc;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 50px;
}

/* scrollbar */
::-webkit-scrollbar{
    background-color: transparent;
    width: 9px;
    /* border: 2px dashed white; */
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#21D4FD,#b721ff);
    border-radius: 100px;
}